body {
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
    font-size: 4vw;
}

button {
    width: 200px;
    font-size: 25px;
    padding: 15px;
    margin: 2vw;

}

#parent {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}